AddHandler application/x-httpd-php81 php
Options +SymLinksIfOwnerMatch
RewriteEngine On
# Allow Installatron requests
RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
RewriteRule (.*) - [L] 
RewriteRule ^ index.php [L]
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/higorynqou/quiz-app"
PassengerBaseURI "/"
PassengerNodejs "/home/higorynqou/nodevenv/quiz-app/12/bin/node"
PassengerAppType node
PassengerStartupFile index.php
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END

